@import "../../styles/variables.scss";
@import "../../styles/typography.scss";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .landing {
    @include font-type($mainFont, $large);

    background: $containerBackgroundColor;
    display: grid;
    flex: 1 1 auto;
    &__counter {
      align-content: center;
      background-color: white;
      display: grid;
      filter: $dropShadow;
      grid-template-columns: repeat(3, 1fr);
      margin: $small 20%;
      padding: $large;
      text-align: center;
      div {
        align-content: center;
        display: grid;
      }
    }

    &__notifications, &__retrieve-data, &__save-data {
      align-content: center;
      background-color: white;
      display: grid;
      filter: $dropShadow;
      margin: $small 20%;
      padding: $large;
      text-align: center;
      div {
        align-content: center;
        display: grid;
      }
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
  .landing {
  }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {
}
